.card-list-container {
    display: flex;
    flex-direction: row;
    font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
    padding: 25px 60px;
}

.card-list-container .card-item-container {
    flex-grow: 1;
    flex-basis: 0;
}

.card-item-container {
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(297, 297, 297);
    box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.08);
    margin: 5px 5px;
    cursor: pointer;
}

.card-item-container .card-image-container {
    position: relative;
}

.card-image-container .new-item {
    position: absolute;
    padding: 2px 4px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    width: 20px;
    font-size: 10px;
    font-weight: bold;
    top: 15px;
    left: 10px;
}

.card-image-container .card-image {
    width: auto;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 100% 100%;
    
}

.card-image-container .first {
    background-image: url("../images/online-experiences.jpg");
}

.card-image-container .second {
    background-image: url("../images/monthly-lives.jpg");
}

.card-image-container .third {
    background-image: url("../images/first-class-lives.jpg");
}


.card-item-container .card-content-container {
    display: flex;
    flex-direction: column;
    padding: 5px 7px;
}

.card-content-container .card-content-header {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
}

.card-content-container .card-content-description {
    color: rgb(113, 113, 113);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}